.ui_materialselect{
	height:450px;
	width:375px;
	overflow-x:hidden;
	overflow-y:auto;
}


.ui_materialselect .ui_table{
	height:380px;
	overflow-x:hidden;
	overflow-y:auto;
	border:0 none;
}

.ui_materialselect .ui_table_body{
	border:0 none;
}

.ui_materialselect_noResult{
	text-align:center;
	width:100%;
	display:inline-block;
}

.ui_materialselect .ui_table_tdcell{
	border-left:0 none;
}


.ui_materialselect .ui_table_tdcell a{
	cursor:pointer;
}

.ui_materialselect .ui_table_tdcell .ui_selectcombo_disabled{
	cursor:default;
}

.ui_materialselect .ui_table_row td{
	border:0 none;
}

.ui_materialselect_lastlevel{
	padding-left:5px;
}
.ui_materialselect u{
	background:#FF0;
	text-decoration:none;
}
.ui_materialselect .ui_page{
	position:absolute;
	bottom:0;
	*bottom:5px;
	right:10px;
	width:100%;
	text-align:right;
	margin-top:5px;
}

#ToolMaterialListWrap .ui_materialselect .ui_page,
#historyMaterialWrap .ui_materialselect .ui_page,
#NewReportMaterialWrap .ui_materialselect .ui_page,
#EffectMaterialListWrap .ui_materialselect .ui_page{
	text-align:left;
	width:95%;
	left:5px;
}
