.fc-ui-bubble > .ui-wrapper {
    line-height: 0 !important;
}

.fc-ui-bubble .bubble-layer > .ui-wrapper {
    border: 1px solid #D5CA81;
    background-color: #FFF6BD;
    cursor: text;
    line-height: 16px !important;
    padding: 5px 15px 5px 5px;
    text-align: left;
    box-shadow: none;
}
.fc-ui-bubble .layer-header {
    height: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.fc-ui-bubble .layer-content {
    color: #333333;
    word-wrap: break-word; 
    word-spacing: normal;
}
.fc-ui-bubble .bubble-loading {
    height: 16px;
    background: url('../../asset/img/loading_1.gif') no-repeat 10%;
}
.fc-ui-bubble .layer-close-btn:hover {
    background-position: 0 -108px;
}


.fc-ui-bubble .bubble-tail {
    border-width: 7px;
    position: absolute;
}
.fc-ui-bubble .bubble-tail > span {
    border-width: 6px;
    position: absolute;
}


.fc-ui-bubble .bubble-position-lt .bubble-tail,
.fc-ui-bubble .bubble-position-ct .bubble-tail {
    right: 20px;
    bottom: -14px;
    border-right-color: #D5CA81;
    border-top-color: #D5CA81; 
}
.fc-ui-bubble .bubble-position-lt .bubble-tail > span,
.fc-ui-bubble .bubble-position-ct .bubble-tail > span {
    border-right-color: #FFF6BD;
    border-top-color: #FFF6BD; 
    left: -6px;
    top: -8px;
}

.fc-ui-bubble .bubble-position-rt .bubble-tail {
    left: 20px;
    bottom: -14px;
    border-left-color: #D5CA81;
    border-top-color: #D5CA81; 
}
.fc-ui-bubble .bubble-position-rt .bubble-tail > span {
    border-left-color: #FFF6BD;
    border-top-color: #FFF6BD; 
    left: -6px;
    top: -8px;
}

.fc-ui-bubble .bubble-position-rm .bubble-tail {
    left: -14px;
    top: 20px;
    border-right-color: #D5CA81;
    border-top-color: #D5CA81; 
}
.fc-ui-bubble .bubble-position-rm .bubble-tail > span {
    border-right-color: #FFF6BD;
    border-top-color: #FFF6BD; 
    left: -4px;
    top: -6px;
}

.fc-ui-bubble .bubble-position-rb .bubble-tail,
.fc-ui-bubble .bubble-position-cb .bubble-tail {
    left: 20px;
    top: -14px;
    border-left-color: #D5CA81;
    border-bottom-color: #D5CA81; 
}
.fc-ui-bubble .bubble-position-rb .bubble-tail > span,
.fc-ui-bubble .bubble-position-cb .bubble-tail > span {
    border-left-color: #FFF6BD;
    border-bottom-color: #FFF6BD; 
    left: -5px;
    top: -3px;
}

.fc-ui-bubble .bubble-position-lb .bubble-tail {
    right: 20px;
    top: -14px;
    border-right-color: #D5CA81;
    border-bottom-color: #D5CA81; 
}
.fc-ui-bubble .bubble-position-lb .bubble-tail > span {
    border-right-color: #FFF6BD;
    border-bottom-color: #FFF6BD; 
    left: -7px;
    top: -3px;
}

.fc-ui-bubble .bubble-position-lm .bubble-tail {
    right: -14px;
    top: 20px;
    border-left-color: #D5CA81;
    border-top-color: #D5CA81; 
}
.fc-ui-bubble .bubble-position-lm .bubble-tail > span {
    border-left-color: #FFF6BD;
    border-top-color: #FFF6BD; 
    left: -8px;
    top: -6px;
}


.fc-ui-bubble .icon-info {
    background: url('../../asset/img/ui-icon.png') no-repeat 0 -74px;
    display: inline-block;
    width: 12px;
    height: 12px;
}
.fc-ui-bubble .icon-help {
    background: url('../../asset/img/ui-icon.png') no-repeat 0 -40px;
    display: inline-block;
    width: 12px;
    height: 12px;
}
